.card-content {
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 1.882031031714em;
  box-shadow: 0px 0.18870497811319em 0.3764062063428em #00000029;
  overflow: hidden;
}

.text-only {
  padding: 27px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-image {
  width: 100%;
  height: 85%;
  object-fit: cover;
}

.card-content h3 {
  font-family: 'Averta';
  font-size: 20px;
  width: 100%;
  border: 1px dashed #FD6A78;
  margin: 0 0 10px 0;
}

.flip-card-btn {
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline: none;
  border: 0;
}

.card-content p {
  font-family: 'Averta';
  font-size: 1em;
  border: 1px dashed #FD6A78;
  margin: unset;
}

.card-content-overlay button {
  width: auto;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0 0.5em;
  background: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
}

.card-content-overlay button img {
  border-radius: 0.6em;
  padding: 0.2em;
}

.card-content-overlay button img:hover {
  background: #3961e5;
}

.image-only {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.image-overlay {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.text-image-overlay {
  position: relative;
  background: #3961E5;
}

.text-image-overlay img {
  opacity: 0.4;
}

.overlay {
  width: 100%;
  /* height: 100%;
  */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  pointer-events: none;
}


/**/

.gjs-flip-card-row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  padding: 0.627343677238em;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .gjs-flip-card-row {
    flex-wrap: wrap;
  }
}


.gjs-flip-card-cell {

  flex-grow: 1;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* overflow:hidden;*/
  min-height: 100vh;
  padding: 0.627343677238em;
}

/**/

[layout="stack"] .gjs-flip-card-cell {
  flex-direction: row;
}

/**/

.minimap-lo-container .gjs-flip-card-row .gjs-flip-card-cell .flip-card-header h1 {
  font-size: 8px;
  font-weight: bold;
  margin-bottom: 2px;
}

.minimap-lo-container .gjs-flip-card-row .gjs-flip-card-cell .flip-card-header p {
  max-height: 13px;
  overflow: hidden;
  margin-bottom: 5px;
  padding: 0 20px;
}

.minimap-lo-container .gjs-flip-card-row .gjs-flip-card-cell .flip-card-container {
  justify-content: inherit;
  align-items: stretch;
  height: 35px;
}

.minimap-lo-container .gjs-flip-card-row .gjs-flip-card-cell .flip-card-container .card {
  width: calc(20%);
  margin: 0 2px;
  border: 2px;
}

.minimap-lo-container .gjs-flip-card-row .gjs-flip-card-cell .flip-card-container .card .card-content p {
  height: 15px;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  padding: 0 3px;
}


.minimap-lo-container .gjs-text-only-row .gjs-text-only-cell {
  padding: 0 10%;
  text-align: left;
}

.minimap-lo-container .gjs-text-only-row .gjs-text-only-cell h1 {
  font-weight: 900;
  font-size: 8px;
}

.minimap-lo-container .gjs-text-only-row .gjs-text-only-cell h2 {
  font-weight: 600;
  font-size: 7px;
}

.minimap-lo-container .gjs-text-only-row .gjs-text-only-cell p {
  padding-top: 5px;
}


.minimap-lo-container .gjs-quote-row .gjs-quote-column .gjs-quote-top-accent .gjs-quote-line-accent {
  border-top-width: 2px;
  width: 10px;
  margin: 0 auto;
}

.minimap-lo-container .gjs-quote-row .gjs-quote-column p {
  margin-top: 5px;
}

.minimap-lo-container .gjs-quote-row .gjs-quote-column p.author {
  margin-top: 5px;
}


.flip-card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  height: 50%;
}

.flip-card-header {
  width: auto;
  max-width: 900px;
  margin: 0 auto;
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  text-align: center;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  text-align: center;
  transform: rotateY(180deg);
}

.back-content {
  background-color: red;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
}

.front-content {
  background-color: blue;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
}

.flip-card {
  transform: rotateY(180deg);
}

/* CENTER */
.flip-cards-center-stack .flip-card-header h1 {
  font-family: 'Averta-Bold';
  font-size: 2.8em;
  /* line-height: 2em; */
  /* margin: 0 auto 1em; */
  text-align: center;
}

.flip-cards-center-stack .flip-card-header p {
  font-family: 'Averta';
  font-size: 1.12em;
  /* line-height: 1.4375em; */
  /* margin: 0 auto 5.2em; */
}

.flip-cards-center-stack .flip-card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  height: 100%;
  max-height: 377px;
}

.flip-cards-center-stack .card {
  max-width: 241px;
  position: relative;
  margin: 0 1em 0 0;
  position: relative;
  width: calc(25% - 3%);
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  border-radius: 1.882031031714em;
  box-shadow: 0px 0.19071247788035em 0.3764062063428em #00000029;
}

.flip-cards-center-stack .card>button {
  bottom: 0;
}

.flip-cards-center-stack .card .add-card {
  font-size: 1.4375em;
  width: 28px;
  height: 28px;
  color: #FFF;
  background: #3961E5;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
}

/* MOBILE Horizontal Scroll */
@media only screen and (max-width: 415px) {
  .mobile-horizontal-scroll .flip-card-container {
    flex-wrap: nowrap;
  }

  .gjs-flip-card-cell {
    width: 100% !important;
  }

  .flip-cards-center-stack .flip-card-header h1 {
    font-size: 2.5em;
    margin-top: 0;
    margin-bottom: 0.625em;
  }

  .flip-cards-center-stack .flip-card-header p {
    font-size: 1em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 3.75em;
  }

  .flip-cards-center-stack .flip-card-container {
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: auto;
    direction: ltr;
    max-height: 450px;
  }

  .flip-cards-center-stack .flip-card-container::-webkit-scrollbar {
    display: none;
  }

  .flip-cards-center-stack .card {
    min-width: 241px;
    max-width: 241px;
    margin-left: 0;
    margin-right: 1.5em;
    max-height: 377px;
  }
}


/* MOBILE Vertical Scroll
@media only screen and (max-width: 415px) {
    .mobile-vertical-scroll .flip-card-container {
      flex-wrap: nowrap;
    }
    .flip-cards-center-stack .flip-card-header h1 {
      font-size: 2.5em;
      margin-top: 0;
      margin-bottom: 0.625em;
    }
    .flip-cards-center-stack .flip-card-header p {
      font-size: 1em;
      text-align: center;
      margin-top: 0;
      margin-bottom: 3.75em;
    }

    .flip-cards-center-stack .flip-card-container {
      justify-content: center;
      flex-wrap: wrap;
      overflow-y: auto;
      max-height: 780px;
    }
    .flip-cards-center-stack .flip-card-container::-webkit-scrollbar {
      display: none;
    }

    .flip-cards-center-stack .card {
      min-width: 241px;
      max-width: 289px;
      margin: 0 auto 0.8125em;
      max-height: 377px;
    }
} */

/* MOBILE LEFT Stack Vertical
@media only screen and (max-width: 413px) {
    .flip-cards-left-stack .gjs-flip-card-cell,
    .flip-cards-right-stack .gjs-flip-card-cell  {
      flex-direction: column !important;
      justify-content: flex-start !important;
    }
    .flip-cards-left-stack .flip-card-header,
    .flip-cards-right-stack .flip-card-header {
      flex-basis: 30% !important;
      margin-left: 0 !important;
    }
    .flip-cards-left-stack .flip-card-header h1,
    .flip-cards-right-stack .flip-card-header h1 {
      font-size: 2.5em;
      margin-top: 0;
      margin-bottom: 0.625em !important;
      text-align: left;
      line-height: 1em !important;
    }
    .flip-cards-left-stack .flip-card-header p,
    .flip-cards-right-stack .flip-card-header p {
      font-size: 1em;
      margin-top: 0;
      margin-bottom: 3.5625em;
      text-align: left;
    }

    .flip-cards-left-stack .flip-card-container,
    .flip-cards-right-stack .flip-card-container {
      justify-content: center;
      flex-wrap: wrap;
      max-height: 780px;
      padding-left: 0 !important;
    }

    .flip-cards-left-stack .flip-card-container::-webkit-scrollbar,
    .flip-cards-right-stack .flip-card-container::-webkit-scrollbar {
      display: none;
    }

    .flip-cards-left-stack .card,
    .flip-cards-right-stack .card {
      min-width: 359px !important;
      min-height: 324px !important;
      margin-bottom: 1.6875em !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
} */

/* MOBILE LEFT/RIGHT Stack Horizontal */
@media only screen and (max-width: 413px) {
  .flip-cards-left-stack .gjs-flip-card-cell {
    height: auto !important;
    align-items: start;
  }

  .flip-cards-right-stack .gjs-flip-card-cell {
    height: auto !important;
    align-items: start;
  }

  .flip-cards-left-stack .flip-card-container {
    width: 750px !important;
    overflow: unset !important;
  }

  .flip-cards-right-stack .flip-card-container {
    width: 750px !important;
    overflow: unset !important;
  }

  .flip-cards-left-stack .gjs-flip-card-cell,
  .flip-cards-right-stack .gjs-flip-card-cell {
    flex-direction: column !important;
  }

  .flip-cards-left-stack .flip-card-header,
  .flip-cards-right-stack .flip-card-header {
    flex-basis: 30% !important;
    margin-left: 0 !important;
  }

  .flip-cards-left-stack .flip-card-header h1,
  .flip-cards-right-stack .flip-card-header h1 {
    font-size: 2.5em;
    margin-top: 0;
    margin-bottom: 0.625em !important;
    text-align: left;
    line-height: 1em !important;
  }

  .flip-cards-left-stack .flip-card-header p,
  .flip-cards-right-stack .flip-card-header p {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 3.5625em;
    text-align: left;
  }

  .flip-cards-left-stack .flip-card-container,
  .flip-cards-right-stack .flip-card-container {
    justify-content: flex-start !important;
    flex-wrap: wrap;
    max-height: 780px;
    padding-left: 0 !important;
  }

  .flip-cards-left-stack .flip-card-container::-webkit-scrollbar,
  .flip-cards-right-stack .flip-card-container::-webkit-scrollbar {
    display: none;
  }

  .flip-cards-left-stack .card,
  .flip-cards-right-stack .card {
    min-width: 241px !important;
    min-height: 241px !important;
    margin-bottom: 1.125em !important;
    margin-left: 0 !important;
    margin-right: 1.125em !important;
  }
}



/* LEFT */
.flip-cards-left-stack .flip-card-header {
  flex-basis: 50%;
  flex-grow: 0;
}

.flip-cards-left-stack .flip-card-header h1 {
  font-family: 'Averta-Bold';
  max-width: 440px;
  font-size: 2.8em;
  line-height: 6em;
  text-align: left;
  margin: 0 0 1em;
}

.flip-cards-left-stack .flip-card-header p {
  max-width: 440px;
  font-family: 'Averta';
  font-size: 1em;
  line-height: 1.4375em;
  margin: 0;
}

.flip-cards-left-stack .flip-card-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  min-height: 50%;
  flex-basis: 50%;
  flex-grow: 0;
  padding-left: 15%;
}

.flip-cards-left-stack .card {
  min-width: 243px;
  min-height: 243px;
  position: relative;
  margin: 0 1em 3em;
  position: relative;
  width: calc(25% - 1%);
  height: 50%;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  border-radius: 1.882031031714em;
  box-shadow: 0px 0.19071247788035em 0.3764062063428em #00000029;
}

.flip-cards-left-stack .card>button {
  bottom: 0;
}

.flip-cards-left-stack .card .add-card {
  font-size: 1.4375em;
  width: 28px;
  height: 28px;
  color: #FFF;
  background: #3961E5;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
}

.flip-cards-left-stack .card-content h3 {
  font-weight: normal;
  line-height: 35px;
}

.flip-cards-left-stack .card-content p {
  border: none;
}


/* RIGHT */
.flip-cards-right-stack .flip-card-header {
  flex-basis: 25%;
  flex-grow: 0;
  margin-left: 20%;
}

.flip-cards-right-stack .flip-card-header h1 {
  max-width: 440px;
  font-family: 'Averta-Bold';
  font-size: 2.8em;
  line-height: 60px;
  text-align: left;
  margin: 0 0 1em;
}

.flip-cards-right-stack .flip-card-header p {
  max-width: 440px;
  font-family: 'Averta';
  font-size: 1em;
  line-height: 1.4375em;
  margin: 0;
}

.flip-cards-right-stack .flip-card-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  min-height: 50%;
  flex-basis: 50%;
  flex-grow: 0;
  padding-right: 15%;
}

.flip-cards-right-stack .card {
  min-width: 243px;
  min-height: 243px;
  position: relative;
  margin: 0 1em 3em;
  position: relative;
  width: calc(25% - 1%);
  height: 50%;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  border-radius: 1.882031031714em;
  box-shadow: 0px 0.19071247788035em 0.3764062063428em #00000029;
}

.flip-cards-right-stack .card>button {
  bottom: 0;
}

.flip-cards-right-stack .card .add-card {
  font-size: 1.4375em;
  width: 28px;
  height: 28px;
  color: #FFF;
  background: #3961E5;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
}

.flip-cards-right-stack .card-content h3 {
  font-weight: normal;
  line-height: 35px;
}

.flip-cards-right-stack .card-content p {
  border: none;
}